body{
    background-color: rgb(255, 255, 140);
}

table{
    border: none;
    border-collapse: collapse;
}

td {
    width:100px;
    height:100px;
    border:1px solid black;
    font-size: 100px;
    text-align: center;
    padding:5px;
    cursor:pointer;
}